<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Moviehub - Movies For You</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css" media="all" />
	<!-- Slick nav CSS -->
	<link rel="stylesheet" type="text/css" href="static/assets/css/slicknav.min.css" media="all" />
	<!-- Iconfont CSS -->
	<link rel="stylesheet" type="text/css" href="static/assets/css/icofont.css" media="all" />
	<!-- Owl carousel CSS -->
	<link rel="stylesheet" type="text/css" href="static/assets/css/owl.carousel.css">
	<!-- Popup CSS -->
	<link rel="stylesheet" type="text/css" href="static/assets/css/magnific-popup.css">
	<!-- Main style CSS -->
	<link rel="stylesheet" type="text/css" href="static/assets/css/style.css" media="all" />
	<!-- Responsive CSS -->
	<link rel="stylesheet" type="text/css" href="static/assets/css/responsive.css" media="all" />


	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

</head>

<body>
	<!-- Page loader -->
	<div id="preloader"></div>
	<!-- header section start -->
	<header class="header">
		<div class="container">
			<div class="header-area">
				<div class="logo">

				</div>
				<div class="header-right">
					<form action="/search" method="post">
						<select>
							<option value="Movies">Movies</option>

						</select>
						<!-- <input type="text" name="movie" id="country" list="countrydata" size="50" /> -->
						<input type="text" list="browsers" name="movie" id="browser" autocomplete="off">
						<datalist id="browsers">
							{% for i in suggestion %}
							<option value="{{i}}">
							
							{% endfor %}
						</datalist>

						<button type="submit"><i class="icofont icofont-search"></i></button>
					</form>
					
					<ul>

						<li><a class="" href="/login">login</a></li>
						<li><a class="" href="/signup">sign up</a></li>

					</ul>
				</div>
				<div class="menu-area">
					<div class="responsive-menu"></div>
					<div class="mainmenu">
						<ul id="primary-menu">
							<li><a class="active" href="/" style="color: #fff;">Home</a></li>
							<li><a href="/popular">Popular</a></li>
							<li><a href="/trending">Trending</a></li>
							<!-- <li><a href="top-movies.html">Top Movies</a></li>
                                <li><a href="blog.html">News</a></li>
								<li><a href="#">Pages <i class="icofont icofont-simple-down"></i></a>
									<ul>
										<li><a href="blog-details.html">Blog Details</a></li>
										<li><a href="movie-details.html">Movie Details</a></li>
									</ul>
								</li> -->
							<!-- <li><a class="theme-btn" href="#"><i class="icofont icofont-ticket"></i> Tickets</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>



	{% if postsdata|length >0 %}



	{% endif %}



	<!-- portfolio section start -->
	<section class="portfolio-area pt-60">
		<div class="container">
			<div class="row flexbox-center">
				<div class="col-lg-6 text-center text-lg-left">
					<div class="section-title">
						<h1><i class="icofont icofont-movie"></i> Evergreen</h1>
					</div>
				</div>
				<div class="col-lg-6 text-center text-lg-right">
					<div class="portfolio-menu">
						<ul>
							<li class="active" style="font-size: 18px;">Movies</li>
							<!-- <li data-filter=".soon">Comming Soon</li>
								<li data-filter=".top">Top Rated</li>
								<li data-filter=".released">Recently Released</li> -->
						</ul>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-lg-12">
					<div class="row portfolio-item">

						{% if postsdata|length > 0 %}
						{% for j in range(0,12) %}

						<div class="col-md-3 col-sm-6">
							<div class="single-portfolio">
								<div class="single-portfolio-img">
									<img src="{{postsdata[1][j][0]}}" alt="portfolio" />
									<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
										<i class="icofont icofont-ui-play"></i>
									</a>
								</div>
								<div class="portfolio-content">
									<h2 style="font-size: 18px;">{{postsdata[1][j][5]}}</h2>
									<div class="review">
										<div class="author-review">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<h4>{{postsdata[1][j][2]}}</h4>

									</div>
									<div class="review">
										<form action="/search" method="post">

											<input type="hidden" name="movie" value="{{postsdata[1][j][5]}}">

											<button type="submit"
												style="border-radius: 15px; padding: 1 5px; background-color: #eb315a; font-weight: bold; color: black;">View
											</button>

										</form>

									</div>
								</div>
							</div>
						</div>


						{% endfor %}
						{% else %}

						<div class="col-md-3 col-sm-6 ">
							<div class="single-portfolio">
								<div class="single-portfolio-img">
									<img src="static/assets/img/portfolio/portfolio1.png" alt="portfolio" />
									<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
										<i class="icofont icofont-ui-play"></i>
									</a>
								</div>
								<div class="portfolio-content">
									<h2>Boyz II Men</h2>
									<div class="review">
										<div class="author-review">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<h4>180k voters</h4>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-3 col-sm-6 ">
							<div class="single-portfolio">
								<div class="single-portfolio-img">
									<img src="static/assets/img/portfolio/portfolio2.png" alt="portfolio" />
									<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
										<i class="icofont icofont-ui-play"></i>
									</a>
								</div>
								<div class="portfolio-content">
									<h2>Tale of Revemge</h2>
									<div class="review">
										<div class="author-review">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<h4>180k voters</h4>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-3 col-sm-6 ">
							<div class="single-portfolio">
								<div class="single-portfolio-img">
									<img src="static/assets/img/portfolio/portfolio3.png" alt="portfolio" />
									<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
										<i class="icofont icofont-ui-play"></i>
									</a>
								</div>
								<div class="portfolio-content">
									<h2>The Lost City of Z</h2>
									<div class="review">
										<div class="author-review">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<h4>180k voters</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 ">
							<div class="single-portfolio">
								<div class="single-portfolio-img">
									<img src="static/assets/img/portfolio/portfolio4.png" alt="portfolio" />
									<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
										<i class="icofont icofont-ui-play"></i>
									</a>
								</div>
								<div class="portfolio-content">
									<h2>Beast Beauty</h2>
									<div class="review">
										<div class="author-review">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<h4>180k voters</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 ">
							<div class="single-portfolio">
								<div class="single-portfolio-img">
									<img src="static/assets/img/portfolio/portfolio5.png" alt="portfolio" />
									<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
										<i class="icofont icofont-ui-play"></i>
									</a>
								</div>
								<div class="portfolio-content">
									<h2>In The Fade</h2>
									<div class="review">
										<div class="author-review">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<h4>180k voters</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 ">
							<div class="single-portfolio">
								<div class="single-portfolio-img">
									<img src="static/assets/img/portfolio/portfolio6.png" alt="portfolio" />
									<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
										<i class="icofont icofont-ui-play"></i>
									</a>
								</div>
								<div class="portfolio-content">
									<h2>Last Hero</h2>
									<div class="review">
										<div class="author-review">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<h4>180k voters</h4>
									</div>
								</div>
							</div>
						</div>

						{% endif %}
					</div>
				</div>




			</div>
		</div>
	</section><!-- portfolio section end -->
	<!-- video section start -->
	<section class="video ptb-90">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title pb-20">
						<h1><i class="icofont icofont-film"></i> All Time Favorite Animes</h1>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-9">
					<div class="video-area">
						<img src="static/assets/img/video/video1.png" alt="video" />
						<a href="https://www.youtube.com/watch?v=Ee5J1x6MuIo" class="popup-youtube">
							<i class="icofont icofont-ui-play"></i>
						</a>
						<div class="video-text">
							<h2>Angle of Death</h2>
							<div class="review">
								<div class="author-review">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
								<h4>180k voters</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="row">
						<div class="col-md-12 col-sm-6">
							<div class="video-area">
								<img src="static/assets/img/video/video2.png" alt="video" />
								<a href="https://www.youtube.com/watch?v=Lti8w3HVaew" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
						</div>
						<div class="col-md-12 col-sm-6">
							<div class="video-area">
								<img src="static/assets/img/video/video3.png" alt="video" />
								<a href="https://www.youtube.com/watch?v=hR6VcRL-hOw" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- footer section start -->
	<footer class="footer">
		<div class="container">
			<div class="row">

			</div>
			<hr />
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 text-center text-lg-left">
						<div class="copyright-content">
							<!-- <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p> -->
						</div>
					</div>
					<div class="col-lg-6 text-center text-lg-right">
						<div class="copyright-content">
							<a href="#" class="scrollToTop">
								Back to top<i class="icofont icofont-arrow-up"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer><!-- footer section end -->
	<!-- jquery main JS -->
	<script src="static/assets/js/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="static/assets/js/bootstrap.min.js"></script>
	<!-- Slick nav JS -->
	<script src="static/assets/js/jquery.slicknav.min.js"></script>
	<!-- owl carousel JS -->
	<script src="static/assets/js/owl.carousel.min.js"></script>
	<!-- Popup JS -->
	<script src="static/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- Isotope JS -->
	<script src="static/assets/js/isotope.pkgd.min.js"></script>

	<script>
		$(function () {
			$.ajax({
				url: '{{ url_for("autocomplete") }}'
			}).done(function (data) {
				$('#city_autocomplete').autocomplete({
					source: data,
					minLength: 2
				});
			});
		});
	</script>
	<!-- main JS -->
	<script src="static/assets/js/main.js"></script>


</body>

</html>